@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/jquery/dist/jquery.js"></script>
    <title></title>
</head>

<body>
 
<div class="container-fluid" id="container_index_1">
    <nav class="navbar navbar-expand" id="nav">
        <a class="navbar-brand" asp-page="/Index"><img src="~/img/Testlogo.png" height="35" width="140" alt="Testlogo EigenMaaltijd" id="Testlogo" /></a>

        <form class="form" id="form_zoekbalk">
            <input class="form-control" type="search" placeholder="Zoeken naar gerecht..." id="input_zoekbalk">
        </form>

        <a class="navbar" asp-page="/Inloggen">Aanmelden</a>
      </nav>
</div>
    

    <div class="container-fluid" id="container_index_2">
        <h1>Welkom bij EigenMaaltijd.</h1>
               <button type="button" id="btn_1" class="btn btn-dark">Popup scherm</button>

        <div class="popup">
            <div class="popup-content"> <button type="button" id="btn_close" class="close" >
                <span aria-hidden="true">&times;</span>
               
              </button></div>
        </div>
<script>
    document.getElementById("btn_1").addEventListener("click", function () {
        document.querySelector(".popup").style.display = "flex";
      })
      
      document.querySelector(".close").addEventListener("click", function () {
        document.querySelector(".popup").style.display = "none";
      })
</script>
    </div>
</body>
