@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" >
        <span class="navbar-toggler-icon"></span>
    </button>

          
            <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Zoeken naar gerecht...">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
       
        
    </div>
</nav>
<div class="container-fluid">
    <h1>Welkom bij EigenMaaltijd.</h1>
</div>
