@page
@model EigenMaaltijd.Pages.InloggenModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="lib/jquery/dist/jquery.js"></script>
    <title></title>
</head>

<body>

    <div class="container-fluid" id="container_inloggen_1">
        <nav class="navbar navbar-expand" id="nav">
            <a class="navbar-brand" asp-page="/Index"><img src="~/img/Testlogo.png" height="35" width="140" alt="Testlogo EigenMaaltijd" id="Testlogo" /></a>

            <form class="form" id="form_zoekbalk">
                <input class="form-control" type="search" placeholder="Zoeken naar gerecht..." id="input_zoekbalk">
            </form>

            <a class="navbar" asp-page="/Inloggen">Aanmelden</a>
        </nav>
    </div>


    <div class="container-fluid" id="container_inloggen_2">
        <h1>Inlogpagina</h1>
    </div>
</body>